
#w::before{
    content: "";
    position:absolute;
    background:blanchedalmond;
    height:120vh;
    width: 98.8vw;
    z-index: -2;
    opacity: 0.7;
    /* margin-left:-2vw ; */
    /* margin-top: 16vh; */
}
.box{
    border:1px solid orange;
    align-content: center;
    justify-content:center;
    align-items: center;
    justify-items: center;
    margin-top:10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 10vh;
    border-radius: 2em;
    background-color: orange;
    box-shadow:1em 1em rgb(201, 164, 96);
}
.box:hover{
    border-radius: 4em;
    background-color: rgb(223, 164, 55);
}
/* .box::before{
    content: "";
    position:absolute;
    background:orange;
    height:66vh;
    width: 94.8vw;
    z-index: -2;
    opacity: 0.7;
} */
#w{
    align-content: center;
    justify-content:center;
}
#w img{
    margin-left: 3vw;
    height: 70vh;
    width: 40vw;
    display: inline-block;
    margin-bottom: 6vh;
    margin-top: 6vh;
    border-radius: 2em;
}
/* #w h3{
    display:inline-block;
    margin-top: -20vh;
    font-size: 2em;
} */
#w p{
    display:inline-block;
    font-size: 1.3em;
    align-content: center;
    justify-content:center;
    margin-left: 10vw;
    /* margin-top: 60%; */
}
#w{
    display: flex;
    flex-direction: column;
}
/* #ui{
    display: flex;
}
#resume{
    display: flex;
}
#event{
    display: flex;
    flex-direction: column;
} */